body, header, h1, p, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    color: red;
    background-color: #b4cbe2;
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 4rem;
}

p{
    color: #E54723;
    font-size: 2rem;
}

#container {
    max-width: 1200px;
    background-color: #c8549be5;
    height: 70vh;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap;
}

.torre {
    width: 20%;
    height: 400px;
    background-color: #EEA923;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.legenda {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-around;   
}

.legenda>p {
    color: white
}
.bastao {
    width: 10px;
    height: 20%;
    background-color: black;
    border-radius: 5px 5px 0 0;
    position: absolute;
    z-index: 0;
}

.disco {
    height: 25px;
    background-color: #518EC9 ;
    z-index: 1;
    border-radius: 5px 5px 0 0;
}

.disco0 {
    width: 50px;
    background-color: #518EC9 ;
}
.disco1 { 
    width: 70px;
    background-color: #D72657 ;
}

.disco2 {
    width: 90px;
    background-color: #4950A2 ;
}

.disco3 {
    width: 110px;
    background-color: #C8549B ;
}

.disco4 {
    width: 130px;
    background-color: #E54723 ;
}